{{define "title"}}Home{{end}} {{define "main"}} {{if .IsAuthenticated}}
<form class="todo-create-form" action="/todo/create" method="post">
  <input type="text" name="title" placeholder="Enter todo title" required />
  <button class="info" type="submit">Add Todo</button>
</form>
{{end}}
<ul class="todos">
  {{range .Todos}}
  <li class="todos-item">
    <span>{{.Title}}</span>
    <span>{{humanDate .Created}}</span>
    <span>{{humanDate .Completed}}</span>
    <div class="button-container">
      <form action="/todo/delete/{{.ID}}" method="post">
        <button class="icon delete" aria-label="Delete todo">
          <svg class="icon-md" aria-hidden="true">
            <use href="/static/icons/sprite.svg#trash"></use>
          </svg>
        </button>
      </form>
      <button class="info">Complete</button>
    </div>
  </li>
  {{end}}
</ul>
{{end}}
