{{define "title"}}Login{{end}} {{define "main"}}
<form action="/user/login" method="POST" novalidate>
  {{range .Form.NonFieldErrors}}
  <div class="error">{{.}}</div>
  {{end}}
  <div>
    <label for="login-email">Email:</label>
    {{with .Form.FieldErrors.email}}
    <label for="login-email" class="error">{{.}}</label>
    {{end}}
    <input id="login-email" type="email" name="email" value="{{.Form.Email}}" />
  </div>
  <div>
    <label for="login-password">Password:</label>
    {{with .Form.FieldErrors.password}}
    <label for="login-password" class="error">{{.}}</label>
    {{end}}
    <input id="login-password" type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Login" />
  </div>
</form>
{{end}}