{{define "title"}}Login{{end}} {{define "main"}}
<form class="user" action="/user/login" method="POST">
  {{range .Form.NonFieldErrors}}
  <div class="error">{{.}}</div>
  {{end}}
  <div class="user__field">
    <label for="login-email">Email:</label>
    <input
      id="login-email"
      type="email"
      name="email"
      value="{{.Form.Email}}"
      required
    />
    {{with .Form.FieldErrors.email}}
    <output for="login-email" data-error>{{.}}</output>
    {{end}}
  </div>
  <div class="user__field">
    <label for="login-password">Password:</label>
    <input id="login-password" type="password" name="password" required />
    {{with .Form.FieldErrors.password}}
    <output for="login-password" data-error>{{.}}</output>
    {{end}}
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
{{end}}
