{{define "title"}}Signup{{end}} {{define "main"}}
<form class="user" action="/user/signup" method="POST" novalidate>
  <div class="user__field">
    <label>
      Name:
      <input id="signup-name" type="text" name="name" value="{{.Form.Name}}" />
    </label>
    {{with .Form.FieldErrors.name}}
    <label for="signup-name" class="error">{{.}}</label>
    {{end}}
  </div>
  <div class="user__field">
    <label
      >Email:
      <input
        id="signup-email"
        type="email"
        name="email"
        value="{{.Form.Email}}"
      />
    </label>
    {{with .Form.FieldErrors.email}}
    <label for="signup-email" class="error">{{.}}</label>
    {{end}}
  </div>
  <div class="user__field">
    <label
      >Password:
      <input id="signup-password" type="password" name="password" />
    </label>
    {{with .Form.FieldErrors.password}}
    <label for="signup-password" class="error">{{.}}</label>
    {{end}}
  </div>
  <div>
    <input type="submit" value="Signup" />
  </div>
</form>
{{end}}
