{{define "title"}}Signup{{end}} {{define "main"}}
<form class="user" action="/user/signup" method="POST" novalidate>
  <div class="user__field">
    <label for="signup-name"> Name: </label>
    <input
      id="signup-name"
      type="text"
      name="name"
      value="{{.Form.Name}}"
      required
      aria-invalid='{{.Form.IsInvalid "name"}}'
    />
    {{with .Form.FieldErrors.name}}
    <output for="signup-name" data-error>{{.}}</output>
    {{end}}
  </div>
  <div class="user__field">
    <label for="signup-email">Email: </label>
    <input
      id="signup-email"
      type="email"
      name="email"
      value="{{.Form.Email}}"
      required
      aria-invalid='{{.Form.IsInvalid "email"}}'
    />

    {{with .Form.FieldErrors.email}}
    <output for="signup-email" data-error>{{.}}</output>
    {{end}}
  </div>
  <div class="user__field">
    <label for="signup-password">Password: </label>
    <input
      id="signup-password"
      type="password"
      name="password"
      required
      aria-invalid='{{.Form.IsInvalid "password"}}'
    />
    {{with .Form.FieldErrors.password}}
    <output for="signup-password" data-error>{{.}}</output>
    {{end}}
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>
{{end}}
